<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYyjNaIbB6vPpNqYMpZy_suLmBiRVTWoE</string>
	<key>GCM_SENDER_ID</key>
	<string>232806779781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meridatechAssessment</string>
	<key>PROJECT_ID</key>
	<string>meridatech-8c677</string>
	<key>STORAGE_BUCKET</key>
	<string>meridatech-8c677.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232806779781:ios:bb1cd3669946bb6050d2ec</string>
</dict>
</plist>